.column-type {
    text-align: center;
}

.column-date {
    text-align: center;
}

.column-person_avatar {
    padding-left: 15px;
}

.column-to_number {
    padding-left: 15px;
}

.column-source {
    padding-left: 15px;
}

.column-rate {
    padding-left: 15px;
}

.column-duration {
    text-align: end;
    padding-right: 40px;
}