.table-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    table {
        width: 100%;
        max-width: 1440px;
        background-color: white;
        padding-left: 35px;
        font-weight: 400;

        .head-tableRow {
            border-bottom: 1px solid #F1F4F9;
        }

        .icon {
            height: 13px;
            width: 13px;
        }

        thead {
            font-size: 14px;
            color: #5E7793;
            height: 65px;

            .header-type {
                width: 4%;
                text-align: center;
            }

            .header-date {
                width: 6%;
                text-align: center;
            }

            .header-person_avatar {
                width: 9%;
                text-align: left;
                padding-left: 15px;
            }

            .header-to_number {
                width: 22%;
                text-align: left;
                padding-left: 15px;
            }

            .header-source {
                width: 15%;
                color: #5E7793;
                text-align: left;
                padding-left: 15px;
            }

            .header-rate {
                width: 32%;
                text-align: left;
                padding-left: 15px;
            }

            .header-time {
                text-align: end;
                padding-right: 40px;
            }
        }

        tbody {
            height: fit-content;
            font-size: 15px;

            .column-type {
                text-align: center;
            }

            .column-date {
                text-align: center;
            }

            .column-person_avatar {
                padding-left: 15px;
            }

            .column-to_number {
                padding-left: 15px;
            }

            .column-source {
                padding-left: 15px;
            }

            .column-rate {
                padding-left: 15px;
            }

            .column-time {
                text-align: end;
                padding-right: 40px;
            }
        }

        td {
            height: 65px;
            border-bottom: 1px solid #F1F4F9;
        }
    }


}