.table-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    table {
        width: 100%;
        max-width: 1440px;
        background-color: white;
        padding-left: 35px;
        font-weight: 400;
        border-collapse: collapse;

        .head-tableRow {
            border-bottom: 1px solid #F1F4F9;
        }

        thead {
            font-size: 14px;
            color: #5E7793;
            height: 65px;

            .header {
                cursor: pointer;
            }

            .type {
                width: 4%;
                text-align: center;
            }

            .date {
                width: 6%;
                text-align: center;
            }

            .person_avatar {
                width: 9%;
                text-align: left;
                padding-left: 15px;
            }

            .phoneNumber {
                width: 22%;
                text-align: left;
                padding-left: 15px;
            }

            .source {
                width: 15%;
                color: #5E7793;
                text-align: left;
                padding-left: 15px;
            }

            .rate {
                width: 32%;
                text-align: left;
                padding-left: 15px;
            }

            .time {
                text-align: end;
                padding-right: 40px;
            }

            .arrow {
                width: 1rem;
                position: absolute;
            }
        }

        tbody {
            height: fit-content;
            font-size: 15px;
        }

        tr {
            display: table-row;
            transition: background-color 0.2s ease-in-out;
        }

        tr:hover {
            background-color: #f9fafe;
        }

        td {
            height: 65px;
            border-bottom: 1px solid #F1F4F9;
        }
    }


}